<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col col-lg-4">
      <p *ngIf="0===1">
        Username: UserJoe, Password: 1234<br>
        Username: AdminAnn, Password: 1234
      </p>
    </div>
  </div>
<div class="row justify-content-center">
  <div class="col col-lg-4 loginBorder darkBackground">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="col form-group">
      <label class="whiteText">Username</label>
      <input type="text" formControlName="username" class="form-control darkBackground whiteText" required placeholder="Enter username"/>
      <div *ngIf="username.invalid && submitted" class="alert-danger whiteText errorBackground">
        <div *ngIf="username.errors.required">Username is required</div>
      </div>
    </div>
    <div class="col form-group">
      <label class="whiteText">Password</label>
      <input type="password" formControlName="password" class="form-control darkBackground whiteText" required placeholder="Password"/>
      <div *ngIf="password.invalid && submitted" class="alert-danger whiteText errorBackground">
        <div *ngIf="password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="col form-group">
      <button type="submit" class="btn btn-dark">Login</button>
    </div>
    <div *ngIf="errormessage" class="alert-danger whiteText">{{errormessage}}</div>
    <div>
      <h3 class="whiteText" *ngIf="loading">Loading..</h3>
    </div>

  </form>
  </div>
</div>
</div>
