.loginBorder {
  margin-top: 10%;
  padding: 10px;
  border: 2px solid !important;
}

.darkBorder {
  border: 2px solid !important;
}

.darkBackground {
  background-color: rgba(25,25,25,0.6) !important;
}

.errorBackground {
  background-color: rgba(115,0,0,0.6);
}

.backgroundAttempt {
  background-image: url("images/backgroundtest.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
}

.fillHeight {
  min-height: 100vh !important;
}

.whiteText {
  color: #f2f2f2;
}

